<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="warn"
      internalLogFile="c:\wbs_log\nlog_errors\internal_nlog.txt"
      internalLogIncludeTimestamp="true"
      keepVariablesOnReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="commonLogDirectory" value="c:\wbs_log" />
  <variable name="layoutLogText" value="${longdate}|${uppercase:${level}}|${aspnet-sessionid}|${logger}|${message}" />

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" 
            name="infoTarget" 
            fileName="${var:commonLogDirectory}\info\${shortdate}\wbs-${shortdate}.log"
            layout="${var:layoutLogText}"
            archiveFileName="${var:commonLogDirectory}\info\${shortdate}\wbs-${shortdate}.{##}.log"
            archiveEvery="Hour" />
    
    <target xsi:type="File" 
            name="warningTarget" 
            fileName="${var:commonLogDirectory}\warning\${shortdate}\wbs-${shortdate}.log"
            layout="${var:layoutLogText}|controller: ${aspnet-mvc-controller}|action: ${aspnet-mvc-action}"
            archiveFileName="${var:commonLogDirectory}\warning\${shortdate}\wbs-${shortdate}.{##}.log"
            archiveEvery="Hour" />
    
    <target xsi:type="File" 
            name="errorTarget" 
            fileName="${var:commonLogDirectory}\errors\${shortdate}\wbs-${shortdate}.log"
            layout="${var:layoutLogText}|${exception:format=ToString}|controller: ${aspnet-mvc-controller}|action: ${aspnet-mvc-action}"
            archiveFileName="${var:commonLogDirectory}\errors\${shortdate}\wbs-${shortdate}.{##}.log"
            archiveEvery="Hour" />
  </targets> 
  <rules>
    <logger name="WBS.*" 
            minlevel="Info" 
            writeTo="infoTarget" />
    <logger name="WBS.*" 
            levels="Warn" 
            writeTo="warningTarget" />
    <logger name="WBS.*" 
            levels="Error,Fatal" 
            writeTo="errorTarget" />
  </rules>
</nlog>