<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="waitings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!--раздел общих настоек-->
  <appSettings>
    <add key="reporter" value="Reports\\"/>
    <add key="reportFileName" value="Автотест"/>
    <add key="titleFileName" value="Прохождение автотестов"/>
  </appSettings>
  <!--ожидания для тестов-->
  <waitings>
    <add key="Short" value="5"/>
    <add key="Normal" value="20"/>
    <add key="PageLoaded" value="60"/>
    <add key="Long" value="120"/>
  </waitings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
