@{
    ViewData["Title"] = "Warehouse Budgeting System";
}

<script>
    document.api = {
        auth: 'http://localhost:50120/api/auth/login',

    };
</script>

<div id="react-app" >Loading...</div>

@section scripts {
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
}
